<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Todo Item</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a New Todo Item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="submit">Create</button>
            </form>
            <p><a href="{% url 'todo_list_list' %}">Back to Todo Lists</a></p>
        </div>
    </main>
</body>
</html>
