<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Todo List</title>
</head>
<body>
    <main>
        <div>
            <h1>Delete List</h1>
            <p>Are you sure you want to delete "{{ todo_list.name }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
                <a href="{% url 'todo_list_detail' id=todo_list.id %}">Cancel</a>
            </form>
        </div>
    </main>
</body>
</html>
